<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edut.springboot.tarena.dao.SysLogDao">
	<!--
	 我写的垃圾代码
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(id) from sys_logs where username = #{username}
	</select>
	-->
	
	<!-- 老师写的“神”代码 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(id) from sys_logs 
		<if test="username != null and username != ''" >
			where username like concat('%' , #{username} , '%') 
		</if> 
	</select>
	
	<!-- 我写的垃圾代码
	<select id="findPageObjects" resultType="com.edut.springboot.tarena.pojo.SysLog">
		select * from sys_logs 
		<if test="username != null and username != ''" >
			where username like concat('%' , ${username} , '%') 
		</if> 
		limit #{startIndex} , #{pageSize}  
	</select>
	-->
	<!-- 老师写的“神”代码 -->
	<sql id="queryWhereId">
		from sys_logs 
		<where>
			<if test="username!=null and username != ''">
				username like concat('%' , #{username} , '%')
			</if>
		</where>
	</sql>
	<!-- 基于用户名，动态拼接sql实现数据库查询 -->
	<select id="findPageObjects" resultType="com.edut.springboot.tarena.pojo.SysLog">
	select * 
		<include refid="queryWhereId" />
		order by createdTime desc 
	</select>
	
	<delete id="deleteObjects_BAK"  >
			delete from sys_logs 
			where  1=2 
		<if test="ids != null and ids.length>0">
			or id in <!-- (1 ,  2, 3) -->
				<foreach 
				collection="ids" 
				item="id" 
				open="(" separator="," close=")">
					#{id}
				</foreach>
		</if>
	</delete>
	<delete id="deleteObjects"  >
			delete from sys_logs 
			where  1=2 
		<if test="ids != null and ids.length>0">
		or 
				<foreach 
				collection="ids" 
				item="id" 
				 separator="or" >
			 <!-- or id= 1, id=2 ... -->
					id = #{id}
				</foreach>
		</if>
	</delete>
	
</mapper>