<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edut.springboot.tarena.dao.SysRoleDao">
	
	<!-- 复用代码 -->
	<sql id="selectLikeName">
		from sys_roles 
		<where>
			<if test="name!=null and name!='' ">
				name like concat('%', #{name} ,'%')
			</if>
		</where>
	</sql>
	
	
	<!-- 插入角色自身信息 -->
	<!-- 
	## 难点，拿到写入到表中的id(主键)值 
	1)useGeneratedKeys 表示使用insert操作对应的自增主键值
	2)keyProperty 表示将自增主键值赋值给参数对象的id属性
	
	=========
	了解 : <selectKey></selectKey>
	-->
	<insert id="insertObject" 
	useGeneratedKeys="true" 
	keyProperty="id" 
	 >
	 <!-- 
	 keyColumn="id"
	  -->
		insert into sys_roles 
		(name ,note , createdTime ,modifiedTime , createdUser ,modifiedUser ) 
		value
		(#{name} ,#{note} , now() ,now() , #{createdUser} ,#{modifiedUser} )
	</insert>

	<!-- 计算 name 个数 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(id) <include refid="selectLikeName" />
	</select>
	
	<!-- 查询条件 查询 -->
	<select id="findObjects" resultType="com.edut.springboot.tarena.pojo.SysRole">
		select * 
		<include refid="selectLikeName" />
		order by createdTime desc 

	</select>
	
	<!-- resultMap 嵌套查询 -->
	<select id="findObjectById" resultMap="sysRoleMenuVo">
		select id roleId , name , note 
		from  sys_roles  
		where id = #{roleId}
	</select>
	
	<!-- resultMap一般用于自定义映射或一些关联查询中 -->
	<resultMap id="sysRoleMenuVo" 
		type="com.edut.springboot.tarena.common.vo.SysRoleMenuVo">
		<!-- 假如基于id做关联查询，又希望将id值存储到值对象，
                           可以对id进行专门映射 -->
		<id property="id" column="roleId"/>
		<result property="name" column="name"/>
		 <!-- collection一般应用于one2many查询 -->
		<collection 
			property="menuIds" 
			select="com.edut.springboot.tarena.dao.SysRoleMenuDao.findMenuIdsByRoleId"
			column="roleId">
			<!-- 上面id的映射 -->
		</collection>
	</resultMap>
	
</mapper>